@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #040927;
    font-family: 'Poppins', sans-serif;
}



.firework {
    position: absolute;
    height: 100vh;
}

.explosion {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 4px;
    height: 80px;
    overflow: hidden;
}

.explosion:nth-child(1) {
    transform: rotate(30deg);
}
.explosion:nth-child(2) {
    transform: rotate(60deg);
}
.explosion:nth-child(3) {
    transform: rotate(90deg);
}
.explosion:nth-child(4) {
    transform: rotate(120deg);
}
.explosion:nth-child(5) {
    transform: rotate(150deg);
}
.explosion:nth-child(6) {
    transform: rotate(180deg);
}
.explosion:nth-child(7) {
    transform: rotate(210deg);
}
.explosion:nth-child(8) {
    transform: rotate(240deg);
}
.explosion:nth-child(9) {
    transform: rotate(270deg);
}
.explosion:nth-child(10) {
    transform: rotate(300deg);
}
.explosion:nth-child(11) {
    transform: rotate(330deg);
}
.explosion:nth-child(12) {
    transform: rotate(360deg);
}


.explosion::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 40px;
    background-color: #ff0000;
}

@keyframes explosion {
    0% {
        top: 100%;
    }
    33%, 100% {
        top: -50%;
    }
}

#firework1 {
    top: 50%;
    left: 50%;
    transform: scale(1);
}
#firework1 .explosion::before {
    animation: explosion 2s ease-in-out infinite;
}

#firework2 {
    top: 45%;
    left: 40%;
    transform: scale(.6);

}
#firework2 .explosion::before {
    animation: explosion 2.5s ease-in-out infinite;
}

#firework3 {
    top: 80%;
    left: 30%;
    transform: scale(.7);
}
#firework3 .explosion::before {
    animation: explosion 2.6s .7s ease-in-out infinite;
}

#firework4 {
    top: 75%;
    left: 70%;
    transform: scale(.5);
}
#firework4 .explosion::before {
    animation: explosion 2s .6s ease-in-out infinite;
}

#firework5 {
    top: 90%;
    left: 90%;
    transform: scale(.4);
}
#firework5 .explosion::before {
    animation: explosion 1s .5s ease-in-out infinite;
}

#firework6 {
    top: 20%;
    left: 50%;
    transform: scale(1);
}
#firework6 .explosion::before {
    animation: explosion 2.8s .4 ease-in-out infinite;
}

#firework7 {
    top: 60%;
    left: 30%;
    transform: scale(.4);
}
#firework7 .explosion::before {
    animation: explosion 2.1s .1s ease-in-out infinite;
}

#firework8 {
    top: 90%;
    left: 10%;
    transform: scale(1);
}
#firework8 .explosion::before {
    animation: explosion 2s .3 ease-in-out infinite;
}

#firework10 {
    top: 10%;
    left: 10%;
    transform: scale(1);
}
#firework10 .explosion::before {
    animation: explosion 2.2s .9s ease-in-out infinite;
}


#firework11 {
    top: 40%;
    left: 90%;
    transform: scale(1);
}
#firework11 .explosion::before {
    animation: explosion 2s .5s ease-in-out infinite;
}

#firework12 {
    top: 35%;
    left: 80%;
    transform: scale(.6);

}
#firework12 .explosion::before {
    animation: explosion 2.5s .7s ease-in-out infinite;
}

#firework13 {
    top: 70%;
    left: 30%;
    transform: scale(.7);
}
#firework13 .explosion::before {
    animation: explosion 2.6s .4s ease-in-out infinite;
}

#firework14 {
    top: 15%;
    left: 70%;
    transform: scale(.5);
}
#firework14 .explosion::before {
    animation: explosion 2s .3s ease-in-out infinite;
}

#firework15 {
    top: 20%;
    left: 90%;
    transform: scale(.4);
}
#firework15 .explosion::before {
    animation: explosion 1s .1s ease-in-out infinite;
}

#firework16 {
    top: 90%;
    left: 12%;
    transform: scale(1);
}
#firework16 .explosion::before {
    animation: explosion 2.8s .9 ease-in-out infinite;
}

#firework17 {
    top: 65%;
    left: 1%;
    transform: scale(.4);
}
#firework17 .explosion::before {
    animation: explosion 2.1s .8s ease-in-out infinite;
}

#firework18 {
    top: 95%;
    left: 19%;
    transform: scale(1);
}
#firework18 .explosion::before {
    animation: explosion 2s .8 ease-in-out infinite;
}

#firework20 {
    top: 13%;
    left: 80%;
    transform: scale(1);
}
#firework20 .explosion::before {
    animation: explosion 2.2s .7s ease-in-out infinite;
}

#firework19 {
    top: 90%;
    left: 3%;
    transform: scale(.9);
}
#firework19 .explosion::before {
    animation: explosion 2.3s .9s ease-in-out infinite;
}


.fire {
    position: relative;
}






.rockie img {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 100%;
    border-radius: 50%;
}

.rockie h1{
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    transition: all 1.5s ease-in-out;
}

.rockie h1:hover {
    font-size: 7rem;
    color: #24E1C1;
}

.countdown h1{
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* .happy h1{
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.wish h1{
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
} */

.container {
    width: 85%;
    margin: 90px;
}

.row-happy {
    padding: 30px;
    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
}

.active-happy{
    opacity: 1;
    transform: scale(1);
}

.row-wish {
    padding: 30px;
    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
}

.active-wish{
    opacity: 1;
    transform: scale(1);
}

.row-vision {
    padding: 30px;
    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
}

.active-vision{
    opacity: 1;
    transform: scale(1);
}

.row-thanks {
    padding: 30px;
    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
}

.active-thanks{
    opacity: 1;
    transform: scale(1);
}


.row-clients {
    padding: 30px;
    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
}

.active-clients {
    opacity: 1;
    transform: scale(1);
}


.col {
    flex-basis: 40%;
}

.clients p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
}

.happy p,
.wish p,
.vision p,
.thanks p {
    font-size: 40px;
    font-weight: 900;
    line-height: 100px;
    align-items: center;
    text-align: center;
    margin: auto;
}



